<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Purii_Lab7.Properties.Settings.db2ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\db2.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>